version: "3"

services:
  ocr:
    image: final_stage_build_ocr-parse_service:latest
    expose:
      - "5000"
    depends_on:
      - balancer

  balancer:
    image: ocr-balancer:latest
    environment:
      - NGINX_HOST=http://nginx:4000
    ports:
      - "5500:5500"

  nginx:
    image: nginx:latest
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - ocr
    ports:
      - "4000:4000"